{% block head %}
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <!-- Custom Css -->
  <link rel="stylesheet" href="/assets/flex_erp/css/login.css">
  <!-- Ionic icons -->
  <link href="https://unpkg.com/ionicons@4.2.0/dist/css/ionicons.min.css" rel="stylesheet">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
{% endblock %}

{% block page_content %}

{% if redirect_after_login %}
<script>
  window.location.href = "/app";
</script>
{% endif %}
  <!-- N A V B A R -->
  <nav class="navbar navbar-default navbar-expand-lg fixed-top custom-navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon ion-md-menu"></span>
    </button>
    
    <img src="/assets/flex_erp/images/pixfar.png" class="img-fluid nav-logo-mobile" alt="Company Logo">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="container">
      	<img src="/assets/flex_erp/images/pixfar.png" class="img-fluid nav-logo-desktop" alt="Company Logo">
        <ul class="navbar-nav ml-auto nav-right" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href="/">Home <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href="#features">Features <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href="#pricing">Pricing <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
          <li class="nav-item nav-custom-link btn-demo-trial">
            <a class="nav-link" href="#try-for-free">Try for Free <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- E N D  N A V B A R -->
  
  <!-- H E R O -->
  <section id="hero">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <video autoplay loop class="img-fluid" muted playsinline>
            <source src="/assets/flex_erp/images/animation.mp4" type="video/mp4">
          </video>
        </div>
        <div class="col-md-7 content-box hero-content">
          <!-- <span>Unlimited Data</span> -->
          <h1> Transform your any Business Processes 
            <b>with Our All-in-One ERP Solution</b></h1>
          <p>Enterprise Resource Planning (ERP) integrates various business processes into a single system, enhancing efficiency, data accuracy, and decision-making capabilities across an organization.</p>
          <a href="https://calendly.com/pixfar-quick-meeting/30min" class="btn btn-regular" target="_blank">BOOK A MEETING</a>
        </div>
      </div>
    </div>
  </section>
  <!-- E N D  H E R O -->

  <!-- E N D  M A R K E T I N G -->
  <section id="features">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="content-box">
            <h2>Simplify, Automate, and Grow</h2>
            <p>Streamline your operations, automate workflows, and manage seamlessly, empowering your business to boost profitability, increase efficiency, and reduce operational costs in real time. Enjoy headache-free business management so you can focus on growth, strategy, and what matters most.</p>
            <a href="#try-for-free" class="btn btn-regular">Start Free Trial</a>
          </div>
        </div>
        <div class="col-md-7">
            <img src="/assets/flex_erp/images/pixfar_erp_services.png" class="img-fluid" alt="Demo image">
        </div>
      </div>
    </div>
  </section>
  <!-- E N D  M A R K E T I N G -->

  <!-- P R I C I N G -->
  <section id="pricing">
    <div class="container">
      <div class="title-block">
        <h2>Plans and Pricing</h2>
        <p>The best software to develop perfect content and advertising strategies to increase leads and sales.</p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="pricing-box">
            <h3 class="demo">🧪 Free Plan</h3>
            <h6>Free</h6>
            <small>7 Days Trial</small>
            <p>Get full access to all ERP features, risk-free</p>
            <div class="divider-light"></div>
            <ul>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Unlimited Access to All Modules</li>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Cloud Hosted – No Setup Required</li>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>3 Users Included</li>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Sales, CRM, Accounting, Inventory, HR, Projects, and more</li>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Perfect for Test Drives</li>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Zero Risk. Total Control</li>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Experience real business scenarios without paying a dime - <span class="demo">¡Explore Without Limits!</span></li>
            </ul>
            <div class="text-center">
              <a href="#try-for-free" class="btn btn-demo">Demo version</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pricing-box">
            <h3>🚀 Starter</h3>
            <h6>$10</h6>
            <small>per month</small>
            <p>For small businesses ready to simplify, automate, and grow</p>
            <div class="divider-light"></div>
            <ul>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>All ERP Modules Included</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Up to 10 Active Users</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Email & Chat Support</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Standard Performance Servers</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Daily Automated Backups</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Save 100s of hours in manual work</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>All the power of ERP without enterprise complexity</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Regular Product Updates - <span>¡Built for Small Business Success!</span></li>
            </ul>
            <div class="text-center">
              <a href="https://calendly.com/pixfar-quick-meeting/30min" class="btn btn-buy">BOOK A MEETING</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pricing-box">
            <h3>🏢 Business</h3>
            <h6>$100</h6>
            <small>per month</small>
            <p>For mid to large enterprises requiring full control and reliability</p>
            <div class="divider-light"></div>
            <ul>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>All ERP Modules Included</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Unlimited Users</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Dedicated System Manager Support</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>High-Performance Servers</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Priority Support with SLA</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Role-Based Permissions & Advanced Workflow Customization</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>API Access & 3rd Party Integrations - <span>¡Built for Enterprises, Corporations, Manufacturers, Distributors!</span></li>
              
            </ul>
            <div class="text-center">
              <a href="#" class="btn btn-buy">BOOK A MEETING</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- E N D  P R I C I N G -->

  <!-- Login -->
  <section id="try-for-free">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <video autoplay loop class="img-fluid" muted playsinline>
            <source src="/assets/flex_erp/images/animation.mp4" type="video/mp4">
          </video>
        </div>
        <div class="col-md-7 content-box hero-content">
            <div class="login-box login-container">
                <h2>Let's you sign in</h2>
                <form method="POST">
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="usr" class="form-control" required value="demo@pixfar.com">
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="pwd" class="form-control" required value="1_zeXcGa-}u?">
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-regular">Login</button>
                  </div>
                </form>
                {% if message %}
                <p class="error-message">{{ message }}</p>
                {% endif %}
                <!-- <p class="text-center">
                  <a href="/forgot-password">Forgot Password?</a>
                </p>
                <p class="text-center">
                  Don't have an account? <a href="/register">Register here</a>
                </p> -->
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>

  <!--  F O O T E R  -->
  <footer>
    <div class="container">
      <!-- <div class="divider"></div> -->
      <div class="row">
        <div class="col-md-6 col-xs-12">
            <a href="https://www.facebook.com/pixfarbd"><i class="icon ion-logo-facebook"></i></a>
            <a href="https://github.com/pixfar"><i class="icon ion-logo-github"></i></a>
            <a href="https://www.youtube.com/@pixfar"><i class="icon ion-logo-youtube"></i></a>
          </div>
          <div class="col-md-6 col-xs-12">
            <small>Copyright &copy; 2025 - All rights reserved by Pixfar</small>
          </div>
      </div>
    </div>
  </footer>
  <!--  E N D  F O O T E R  -->
    

    <!-- External JavaScripts -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
{% endblock %}